#Body {
	width: auto !important;
	padding: 0px !important;
}
.tableBorder {
	border: none !important;
}
.forceSpace {
	height: 98px;
	padding: 0 !important;
}

.forum-navigation {
	width: 100%;
	/*height: 30px;*/
	overflow:hidden;
	border: none;
	text-align: center;
	background: url(chrome-extension://__MSG_@@extension_id__/menu-default.png);
	position: fixed;
	z-index: 999;
}

.forum-navigation.top {
	top: 68px;
}
.forum-navigation.bottom {
	bottom: 0px;
}
.forum-navigation ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
	width: auto;
}
.forum-navigation ul.links {
	float: right;
}
.forum-navigation ul.links li {
	float: left;
	position: relative;
}

.forum-navigation ul.breadcrumb {
	float: left;
}
.forum-navigation ul.breadcrumb li {
	float: left;
	margin-right: 5px;
	position: relative;
}
.forum-navigation ul.breadcrumb li a {
	font-size: 10px;
	position: relative;
	z-index: 2;
}
.forum-navigation ul li:hover {
    background: url(chrome-extension://__MSG_@@extension_id__/menu-hover.png) repeat-x;
}
.forum-navigation .breadcrumb li:hover::before,
.forum-navigation .breadcrumb li:hover::after,
.forum-navigation .breadcrumb li::after{
	content: "";
	position: absolute;
	height: 30px;
	width: 15px;
	right: -5px;
	top: 0;
    background-image: url(chrome-extension://__MSG_@@extension_id__/breadcrumb.png);
	background-repeat: repeat-x;
	background-position: 0 0px;
}
.forum-navigation .breadcrumb li:hover::before {
	background-position: 0 -60px;
	left: -15px;
}
.forum-navigation .breadcrumb li:hover::after {
	background-position: 0 -30px;
}
.forum-navigation ul li a {
	display: inline-block;
	vertical-align: middle;
	padding: 5px;
	font-size: 14px;
	line-height: 20px;
	color: white !important;
	text-decoration: none;
}
.forum-navigation ul li input {
	display: inline-block;
	vertical-align: middle;
	border: 0;
	margin: 0px;
	margin-right: 5px;
	height: 20px;
}
.forum-navigation form {
	display: inline; margin: 0; padding: 0;
}
.forum-footer {
	color: white;
	overflow: hidden;
	background: url(chrome-extension://__MSG_@@extension_id__/menu-default.png) repeat-x;
	
}
.forum-pagination {
	padding-right: 0px;
	padding: 5px;
	float: right;
	line-height: 10px;
	font-weight: bold;
}
.forum-pagination::before {
	content: "Page:";
	display: inline-block;
}
.forum-pagination .page-link {
	height: 10px;
	min-width: 15px;
	background: rgba(255,255,255,0.75);
	margin-left: 5px;
	display: inline-block;
	line-height: 10px;
	padding: 5px 2.5px;
	text-align: center;
	text-decoration: none;
	color: #404040 !important;
}
.forum-pagination .page-link.current,
.forum-pagination a.page-link:hover {
	background: rgba(255,255,255,1);
}
.forum-pagination .page-gap{
	height: 10px;
	margin-left: 5px;
	display: inline-block;
	line-height: 10px;
	padding: 5px 0px;
}

.markdown { padding: 0px 5px; word-wrap: break-word;}
.plaintext { padding: 5px; white-space: pre-wrap; font-family: monospace; }

/*.forumRow { background-color: #f0f0ff !important;}
.forumAlternate { background-color: #e0e0ff !important; }*/

.SystemAlert {
	padding: 0 !important;
	border: none !important;
}