html.RFE #Body {
	width: auto !important;
	padding: 0px !important;
	min-height: 0px !important;
	background: transparent;
}
html.RFE #BodyWrapper {width: auto;}
html.RFE.fixed-width #BodyWrapper {max-width: 900px;}
html.RFE #MasterContainer { background: transparent; }
html.RFE .tableBorder { border: none !important; }
html.RFE .forceSpace { display: none; }
html.RFE .main-content { font-family: Verdana, Arial, Helvetica, sans-serif;}
html.RFE #Header { height: 98px;}
html.RFE #Header .Navigation { height: auto; overflow: hidden; }
html.RFE .forum-navigation {
	width: 100%;
	overflow:hidden;
	border: none;
	text-align: center;
	background: url(chrome-extension://__MSG_@@extension_id__/images/menu-default.png);
	
}
html.RFE .forum-navigation ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
	width: auto;
}
html.RFE .forum-navigation ul li{
	padding: 0px;
	display: block;
	height: auto;
}
html.RFE .forum-navigation ul.links {
	float: right;
}
html.RFE .forum-navigation ul.links li {
	float: left;
	position: relative;
}

html.RFE .forum-navigation ul.breadcrumb {
	float: left;
}
html.RFE .forum-navigation ul.breadcrumb li {
	float: left;
	margin-right: 5px;
	position: relative;
}
html.RFE .forum-navigation ul.breadcrumb li a {
	font-size: 10px;
	position: relative;
	z-index: 2;
}
html.RFE .forum-navigation ul li:hover {
    background: url(chrome-extension://__MSG_@@extension_id__/images/menu-hover.png) repeat-x;
}
html.RFE .forum-navigation .breadcrumb li:hover::before,
html.RFE .forum-navigation .breadcrumb li:hover::after,
html.RFE .forum-navigation .breadcrumb li::after{
	content: "";
	position: absolute;
	height: 30px;
	width: 15px;
	right: -5px;
	top: 0;
    background-image: url(chrome-extension://__MSG_@@extension_id__/images/breadcrumb.png);
	background-repeat: repeat-x;
	background-position: 0 0px;
}
html.RFE .forum-navigation .breadcrumb li:hover::before {
	background-position: 0 -60px;
	left: -15px;
}
html.RFE .forum-navigation .breadcrumb li:hover::after {
	background-position: 0 -30px;
}
html.RFE .forum-navigation ul li a {
	display: inline-block;
	vertical-align: middle;
	padding: 5px;
	font-size: 14px;
	line-height: 20px;
	color: white !important;
	text-decoration: none;
}
html.RFE .forum-navigation ul li input {
	display: inline-block;
	vertical-align: middle;
	border: 0;
	margin: 0px;
	margin-right: 5px;
	height: 20px;
}
html.RFE .forum-navigation form {
	display: inline; margin: 0; padding: 0;
}
html.RFE .forum-footer { height: 30px; }
/* @media all and (min-width: 910px) { */
	html.RFE .forum-footer .content { bottom: 0; left: 0; position: fixed; z-index: 999; }
/* } for fixed footer */
html.RFE .forum-footer .content {
	color: white;
	background: url(chrome-extension://__MSG_@@extension_id__/images/menu-default.png) repeat-x;
	width: 100%;
}
html.RFE .forum-pagination {
	padding-right: 0px;
	padding: 5px;
	float: right;
	line-height: 10px;
	font-weight: bold;
}
html.RFE .forum-pagination::before {
	content: "Page:";
	display: inline-block;
}
html.RFE .forum-pagination .page-link {
	height: 10px;
	min-width: 15px;
	background: rgba(255,255,255,0.75);
	margin-left: 5px;
	display: inline-block;
	line-height: 10px;
	padding: 5px 2.5px;
	text-align: center;
	text-decoration: none;
	color: #404040 !important;
}
html.RFE .forum-pagination .page-link.current,
html.RFE .forum-pagination a.page-link:hover {
	background: rgba(255,255,255,1);
}
html.RFE .forum-pagination .page-gap{
	height: 10px;
	margin-left: 5px;
	display: inline-block;
	line-height: 10px;
	padding: 5px 0px;
}

html.RFE .markdown { padding: 0px 5px; word-wrap: break-word;}
html.RFE .plaintext { padding: 5px; white-space: pre-wrap; font-family: monospace; }

/*.forumRow { background-color: #f0f0ff !important;}
html.RFE .forumAlternate { background-color: #e0e0ff !important; }*/

html.RFE .SystemAlert {
	padding: 0 !important;
	border: none !important;
}

/* Text-clipping span*/
html.RFE body>span[style]:last-of-type {
	position: absolute;
	top: -200%;
}

#ChatContainer.shifted {
	position: absolute;
	bottom: 100%;
}

#ChatContainer.shifted > div {
	position: absolute !important;
	bottom: 0;
}

#ChatContainer.shifted #friend_dock_minimized_container > div{
	margin-top:-19px; /* Fix the mouse focus being stolen */
}