/*.posts.new article {
	background: grey;
	margin: 5px;
	overflow: hidden;
}

.posts.new article .user-info {
	float: left;
	width: 250px;
}
.posts.new article .user-info .details span {
	display: block;
	margin: 5px;
}

.posts.new article .content {
	overflow: hidden;
	background: white;
	border-radius: 5px;
	padding: 5px;
}

.posts.new article .content header {
	background: #c0c0c0;
	padding: 5px;
	margin: -5px;
	margin-bottom: 5px;
}

.posts.new article .content footer {
	padding: 5px;
	margin: -5px;
	margin-top: 5px;
}
.posts.new article .content .button {
	display: inline-block;
	padding: 5px;
	background: #c0c0c0;
}
*/
/**************************************/
.posts.old  {
	display: table;
	border-spacing: 0px;
	border-collapse: collapse;
	width: 100%;
	table-layout: fixed;
}
.posts.old > header {
	height: 35px;
	color: white;
	font-weight: bold;
	display: table-row;
}
.posts.old > header span{
	display: table-cell;
	background: #6E99C9;
	border: 1px solid white;
	padding: 10px;
	text-align: center;
}
.posts.old article {
	background: #DEF;
	margin: 0px;
	overflow: hidden;
	border-bottom: 1px solid white;
	display: table-row;
}
.posts.old article:nth-child(even) {
	background: #DAE7FD;
}

.posts.old article .user-info {
	padding: 5px;
	width: 140px;
	display: table-cell;
	/*padding-bottom: 1005px;
	margin-bottom: -1000px;
	float: left;*/
	border: 1px solid white;
}
.posts.old article .user-info .name {
	font-weight: bold;
	background: transparent no-repeat 2px 50%;
	padding: 2px;
	padding-left: 11px;
	display: block;
}
.posts.old article .user-info.online .name { background-image: url("/Forum/skins/default/images/user_IsOnline.gif");}
.posts.old article .user-info.offline .name { background-image: url("/Forum/skins/default/images/user_IsOffline.gif");}

.posts.old article .user-info .images {
	position: relative;
	display: block;
	width: 100px;
	height:100px;
	margin: auto;
}
.posts.old article .user-info .images .bc {
	position: absolute;
	bottom: 0;
	left: 0;
}
.posts.old article .user-info .details img,
.posts.old article .user-info .details span {
	margin: auto;
	display: block;
	padding-top:5px;
}

.posts.old article .post-info {
	overflow: hidden;
	position: relative;
	display: table-cell;
	border: 1px solid white;
}

.posts.old article .post-info header {
	padding: 5px;
	border-bottom: 1px solid white;
	overflow: hidden;
}
.posts.old article .post-info header .title {
	font-weight: bold;
}
.posts.old article .post-info header time {
	float: right;
}
.posts.old article .post-info .content {
	padding: 0px 5px 25px;
}

.posts.old article .post-info footer {
	height: 20px;
	padding: 5px;
	padding-left: 0px;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	line-height: 10px;
}
.posts.old article .post-info footer .report {
	float: right;
	display: block;
	padding: 5px;
}
.posts.old article .post-info footer .reply span { margin-top: -4px; }
.posts.old article .post-info footer .quote span { margin-bottom: -4px; }

.posts.old article .post-info footer .quote span .reply,
.posts.old article .post-info footer .quote span .quote {
	margin-right: 5px;
	float: left;
}

/******/


.button {
	display: inline-block;
	box-sizing: border-box;
	height: 20px;
	line-height: 18px;
	border: 1px solid #c0c0c0;
	padding: 0px 4px;
	background: #f0f0f0;
	box-shadow: inset 0px 1px 0px white, 0px 0px 1px white;
	font-weight: bold;
	color: #404040 !important;
	text-decoration: none !important;
	margin-left: 5px;
}

.button span {
	font-weight: 900;
	display: inline-block;
	vertical-align: middle;
	color: black;
	font-size: 200%;
	font-family: Trebuchet MS,Liberation Sans,DejaVu Sans,sans-serif;
}

.button:hover {
	background: white;
}
.button:active {
	background: #e0e0e0;
}

.button-set {
	padding: 5px;
	padding-left: 0px;
	background: #f0f0f0;
	overflow: hidden;
}
.button-set  .button {
	float: left;
	margin-left: 5px;
}
.button-set  .button.right { float: right; }

.loading-more-posts {
	background: #f0f0f0;
	text-align: center;
	font-size: 30px;
	line-height: 60px;
	color: #c0c0c0;
	display: block;
}

.page-indicator {
	height: 30px;
	display: table-row;
}
.page-indicator div {
	background: #f0f0f0;
	text-align: center;
	font-size: 20px;
	line-height: 30px;
	color: #c0c0c0;
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	height: 30px;
}

/*New post Stuff*/

.reply-form .title {
	overflow: hidden;
	margin-bottom: 5px;
}
.reply-form .title label {
	float: left;
	font-size: 125%;
	padding-right: 5px;
	line-height: 25px;
	height: 25px;
	font-weight: bold;
}
.reply-form .title span {
	overflow: hidden;
	display: block;
}
.reply-form .title input {
	box-sizing: border-box;
	padding: 2px;
	width: 100%;
	height: 25px;
	border: 1px solid #c0c0c0;
	line-height: 19px;
	padding: 
}
.reply-form textarea {
	box-sizing: border-box;
	padding: 3px;
	width:100%;
	border:1px solid #c0c0c0;
}
.wmd-input { 
	width: 100%;
	font-family: monospace;
	font-size: 12px;
	resize: vertical;
	min-height: 400px;
}

.wmd-preview { 
	background-color: #c0e0ff; 
}

#wmd-button-bar {
	background-color: white;
	padding: 5px; 
	border:1px solid #c0c0c0;
	border-bottom: none;
}

.wmd-button-row {
	position: relative; 
	margin: 0;
	padding: 0;
	height: 20px;
}

.wmd-button, .wmd-spacer {
    height: 20px;
	position: static;
	float: left;
    margin-right: 5px;
	list-style: none;
}
.wmd-spacer {
	width: 1px; 
	margin-right: 5px;
	background-color: #c0c0c0;
}

.wmd-button {
    width: 20px;
    cursor: pointer;
}

.wmd-button > span {
	background-image: url(chrome-extension://__MSG_@@extension_id__/wmd-buttons.png);
	
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.wmd-prompt-background {
	background-color: Black;
}

.wmd-prompt-dialog {
	border: 1px solid #999999;
	background-color: #F5F5F5;
}

.wmd-prompt-dialog > div {
	font-size: 0.8em;
	font-family: arial, helvetica, sans-serif;
}


.wmd-prompt-dialog > form > input[type="text"] {
	border: 1px solid #999999;
	color: black;
}

.wmd-prompt-dialog > form > input[type="button"] {
	border: 1px solid #888888;
	font-family: trebuchet MS, helvetica, sans-serif;
	font-size: 0.8em;
	font-weight: bold;
}

